<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SignalR Chat</title>
    <style type="text/css">
        .container {
            background-color: #9cf;
            border: thick solid #808080;
            padding: 20px;
            margin: 20px;
        }
    </style>
</head>
<body ng-app="chatApp">
    <div class="container ng-cloak" ng-controller="chatCtrl" ng-init="init()">
        <input type="text" id="message" ng-model="message"/>
        <input type="button" id="sendMessage" ng-click="send()" value="Send" />
        <input hidden id="displayname" />
        <ul id="discussion">
            <li ng-repeat="message in messages">
                <strong>{{message.name}}</strong>:&nbsp;&nbsp{{message.msg}}
            </li>
        </ul>
    </div>
    <script src="Scripts/jquery-2.2.3.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-signalr-hub.js"></script>
    <script src="signalr/hubs"></script>
    <script type="text/javascript">
        var chatApp = angular.module('chatApp', ['SignalR']);

        chatApp.controller('chatCtrl', ['$scope', 'Hub', function ($scope, Hub) {
            $scope.displayname = prompt('Enter your name:', '');
            $scope.message = '';
            $scope.messages = [];

            var chatHub = new Hub('ChatHub', {
                // client side methods
                listeners: {
                    'broadcastMessage': function (name, msg) {
                        $scope.messages.push({ 'name': name, 'msg': msg });
                        $scope.$apply();
                    }
                },
                // server side methods
                methods: ['send']
            });

            $scope.send = function () {
                chatHub.send($scope.displayname, $scope.message);
                $scope.message = '';
            };
        }]);
    </script>
</body>
</html>
